.userInfo {
  display: flex;
  flex-direction: column;

  p {
    text-align: center;
  }

  .btnWrapper {
    display: flex;
    justify-content: center;
    padding-top: 10px;
  }
}
.hidden{
  display: none;
}
.grey{
  opacity: 0.25;
}

.tapp__intro{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 20px;
}

.searchBox{
  text-align: right;
  height: fit-content;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}
.contentBox{
  display: flex; 
  flex-direction: column; 
  align-items: center;
}
.listBox{
  width: 480px;
  padding: 8px 12px;  
  margin-bottom: 10px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
.websiteList{
  margin-top: 20px;
  display: flex; 
  flex-direction: row;
  flex-wrap: wrap;

}

.websiteIconContainer{
  width: 25%;
  //background-color: red;
  display: flex;
  flex-direction: column;
  padding-bottom: 20px;
  position: relative;
}
.websiteIconLink{
  border-bottom: none !important;
  text-align: center;
}
.websiteIcon{
  width: 65px;
  height: 65px;
  background: white;
  margin: 0px auto 5px auto;
  background-size: contain;
}
.websiteIconDef{
  width: 65px;
  height: 65px;
  background: white;
  margin: 0px auto 5px auto;
  background-size: contain;
}
.websiteName{
  width: 90%;
  height: 16px;
  font-size: 13px;
  line-height: 0.75;
  margin-right: auto;
  margin-left: auto;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.formButton{
  text-align: left;
}
.form{
  display: flex;
  flex-direction: column;
}
.formPersonalInformation{
  display: flex;
  flex-direction: row;
  padding-bottom: 20px;
  flex-wrap: wrap;
}
.formWebsiteInformation{
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}
.formInput{
  margin-bottom: 2.5px;
  margin-top: 2.5px;
  width: 100%;
}
.formInputNotDynamic{
  margin-bottom: 2.5px;
  margin-top: 2.5px;
  width: 100%;
}
.formInputMissing{
  color: #ca8181 !important;
  font-weight: 700;
}
.formButton{
  margin: 20px 0 10px;
}