.userInfo {
  display: flex;
  flex-direction: column;

  p {
    text-align: center;
  }

  .btnWrapper {
    display: flex;
    justify-content: center;
    padding-top: 10px;
  }
}


.tapp__intro{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.searchBox{
  text-align: right;
}
.contentBox{
  display: flex; 
  flex-direction: column; 
  align-items: center;
}
.listBox{
  width: 480px;
  padding: 8px 12px;  
  margin-bottom: 40px;
}
.websiteList{
  margin-top: 20px;
  display: flex; 
  flex-direction: row;
  flex-wrap: wrap;
}
.websiteIconContainer{
  width: 20%;
  //background-color: red;
  display: flex;
  flex-direction: column;
  padding-bottom: 20px;
  position: relative;
  margin-bottom: 20px;
}
.websiteIcon{
  width: 65px;
  height: 65px;
  background: white;
  margin-bottom: 5px;
  margin: 0px auto 5px auto;
}
.websiteName{
  font-size: 13px;
  line-height: 0.75;
  margin-right: auto;
  margin-left: auto;
}


.formButton{
  text-align: left;
}
.scrollButtons{
  text-align: right;
}
.scrollLeft{
  margin-right: 5px;
}
.scrollRight{
  margin-left: 5px;
}
.form{
  display: flex;
  flex-direction: column;
}
.formPersonalInformation{
  display: flex;
  flex-direction: column;
  padding-bottom: 20px;
}
.formWebsiteInformation{
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}
.formInput{
  margin-bottom: 2.5px;
  margin-top: 2.5px;
  width: 100%;
}
.formHeader{
  margin-left: 20px;
}
.formButton{
  margin: 20px 0;
}